.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(0,0,0,0.3) url("../public/loginbacl.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.slidercontainer{
    width: 50vw;
    margin-top: 5rem;
}

.sliderbody{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 26rem;
    color: white;
}

.sliderimage{
    margin-bottom: 0.5rem;
    width: 37rem;
}

.swiper{
    height: 29rem;
}

.slidertext{
    margin-top: 0.6rem;
    text-align: center;
    width: 19rem;
    font-family: "Nunito Sans", sans-serif;
}

.sliderhead{
    font-family: "Nunito Sans", sans-serif;
}

.blackBox{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:1.5rem;
    width: 23rem;
    height: 30rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(255,255,255,0.4);
    margin-top: 6rem;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
}

.logo{
    background-color: white;
    border-radius: 50%;
    width:6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:0.4rem;
    margin-top: 2rem;
}

.logoimage{
    width:3.8rem;
    filter:invert(0.2)
}

.heading{
    color: whitesmoke;
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
}

.inptContainer{
    position: relative;
    transition: all 0.3s ease;
}

.input{
    width:20rem;
    height: 2rem;
    outline: none;
    padding-top: 7px;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid rgba(255,255,255,1);
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: medium;
    padding-left: 0.2rem;
    transition:all 0.2s ease;
}

.input::placeholder{
    color: white;
    font-family: "Nunito Sans", sans-serif;
    padding-left: 2rem;
}

.image{
    filter: invert(1);
    position:absolute;
    width:1.5rem;
    left:0;
    bottom:0.5rem;
}

.btn{
    width: 9rem;
    height: 3rem;
    color: rgba(0,0,0,0.8);
    font-size: 18px;
    font-weight:700;
    transition: all 0.5s ease-in-out;
    border: none;
    cursor: pointer;
    margin-top: 0.8rem;
    border-radius: 20px;
    background-color: whitesmoke;
    font-family: "Nunito Sans", sans-serif;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.2);
}

.sign{
    color: whitesmoke;
    font-family: "Nunito Sans", sans-serif;
}

.link{
    text-decoration: underline;
    color: white;
    margin-left:0.5rem;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
}

@media screen and (min-width:1000px) and (max-width:1100px) {
    .slidercontainer{
        width: 40rem;
        margin-top: 6rem;
    }
    .form{
        margin-top: 6rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .sign{
        margin-bottom: 0.5rem;
    }
    .logo{
        margin-top: 1rem;
        width: 6rem;
        height: 6rem;
    }
    .logoimage{
        width: 4rem;
    }
    .heading{
        margin-bottom: 0;
    }
}

@media screen and (min-width:750px) and (max-width:1000px) {
    .container{
        height: 100vh;
    }
    .slidercontainer{
        display: none;
    }
    .form{
        height: 45rem;
        width: 40rem;
        background-color: rgba(0,0,0,0.6);
        gap: 3rem;
    }
    .input{
        width: 30rem;
    }
    .logo{
        margin-top: 2rem;
        width: 9rem;
        height: 9rem;
    }
    .logoimage{
        width: 6rem;
    }
}

@media screen and (max-width:750px) {
    .slidercontainer{
        display: none;
    }
    .container{
        height: 100vh;
        align-items: center;
    }
    .form{
        width: 22.5rem;
        height: 30rem;
        background-color: rgba(0,0,0,0.8);
    }
    .input{
        width: 17rem;
    }
    .logo{
        width: 6rem;
        height: 6rem;
        
    }
    .logoimage{
        width: 4rem;
    }
    .heading{
        margin-bottom: 0;
    }
}